@page "/"

<h1 class="helloWorld">Tablica Wysyłek - Shipment Dashboard</h1>
<br />
Guidelines: <br/>
When automatically logged in you are able to:<br /><br />
1) Add new record to Ship table dashboard - Email with last recordwill be send automatically<br />
    - Email with last record will be send automatically<br />
2) Type in shiping number and description related to this record<br />
3) Open Ship dashboard table where all the records are displayed<br />
4) You can set particular record / task as completed<br />
5) You can delete old and not actuel record / task<br />
6) Send email - containing newest record / task
<br /><br />
Instrukcja: <br/>
Jeżeli zostałeś zalogowany<br /><br />
1) Dodaj nowy rekord do tablicy wysyłek<br />
    - Email z nowo dodanym rekordem zostanie automatycznie wysłany
2) Wpisz numer wysyłki oraz opis z nim powiązany<br />
3) Otwórz listę na której możesz zobaczyć tablicę wysyłek <br />
4) Możesz zaznaczyć czy zadanie dotyczące wysyłki zostało wykonane lub nie.<br />
5) Możesz usunąć przestażały rekord<br />
6) Wyślij email - zawierający najnowsze zadanie<br />
<br />
Email recievers / Odbiorcy Email:<br />
_MN Shipping Transportation - MNShipTransp@.com<br />
_MN Shipping - mnshipping@.com<br />
